* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-cont {
  width: 100%;
  height: 100%;

  justify-self: end;
}

.nav {

  padding: 1.5rem 1.5rem 0rem 1.5rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;

  justify-items: end;
}

.nav-right-cont {
  display: grid;
  grid-template-columns: 3.125rem 1.875rem 3.125rem;

  column-gap: 1.5625rem;
  justify-content: end;

  width: 100%;

}


.logo {
  justify-self: start;
  height: 1.5rem;

  width: 5.3125rem;
}

.nav-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;

  color: #07043b;
}


.header-svg {
  width: 100%;
}


.header-h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;

  text-align: center;

  color: #07043b;
}

.header-p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;

  text-align: center;

  color: #07043b;
  margin: 1.5rem 0rem 2rem 0rem;
}

.header-but {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #ffffff;

  width: 19rem;
  height: 2.5rem;
  background-color: #2f65f8;
  box-shadow: 0.125rem 0.1875rem 0.375rem rgba(0, 0, 0, 0.15925);
  border-radius: 0.1953rem;
  border: none;
}

.header-input {
  outline: none;

  border: 0.0391rem solid #07043b;
  box-shadow: 0.125rem 0.1875rem 0.375rem rgba(0, 0, 0, 0.15925);
  border-radius: 0.1953rem;
  width: 19rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  padding-left: 1.3125rem;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.025rem;
  color: #C2C2C2;

}

.img-header {
  margin: 6.125rem 0rem 2.5rem 0rem;
}

.header-svg {
  height: 14.0625rem;
}


.bot-header {
  padding: 0rem 1.6875rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-items: center;

}


.main-main-cont {
  background-color: #F8F8FE;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5625rem;




}

.green-cont {
  display: flex;
  column-gap: 0.5rem;
}


.main-svg {
  width: 20rem;
  height: 15.0625rem;
}

.main-pic-cont {
  margin-bottom: 5.4375rem;

}


.main {
  margin-top: 5.625rem;
}




.curve-mob {
  display: block;
  height: 3.3125rem;
  width: 100%;

}


.curve-cont {
  display: inline;
}


.main-info-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;


  text-align: center;

  color: #07043B;



}


.info-p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-align: center;
  color: #615F7E;
  margin-bottom: 1rem;
  margin-top: 1.5rem;


}


.info-p2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;


  text-align: center;

  color: #615F7E;


}


.info-div {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 2.5rem;
  margin-top: 2.25rem;


  color: #3DA08F;

}


.main-card-cont {
  width: 17.5rem;
  height: 10.5625rem;
  background-color: #FFFFFF;
  box-shadow: 0rem 0rem 0.5rem 0.25rem rgba(56, 56, 56, 0.0458843);
  border-radius: 0.2458rem;
  margin-top: 2.5rem;



  padding: 1.25rem 0rem 0rem 1.5625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 0.75rem;
  margin-bottom: 5.0625rem;
}

.qout-svg {
  width: 0.875rem;
  height: 0.5938rem;


}

.card-p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 1.125rem;

  letter-spacing: 0.024rem;

  color: #07043B;

}


.avatar-img {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}


.card-author {
  display: flex;
  column-gap: 0.4625rem;
  margin-bottom: 1.1875rem;
}

.name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 0.5625rem;
  line-height: 0.75rem;
  letter-spacing: 0.0281rem;

  color: #07043B;

}


.author {
  display: flex;
  flex-direction: column;
}

.work {

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 0.375rem;
  line-height: 0.75rem;
  letter-spacing: 0.0187rem;
  color: #07043B;
}


.green-line {
  height: 0.0625rem;
  width: 8.125rem;
  background-color: #3DA08F;
  ;

}


.low-main {
  background-color: #575988;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.375rem 2.9375rem 4.4375rem 2.9375rem;
}



.low-h1 {
  text-align: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #FFFFFF;

}


.low-p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-align: center;
  color: #FFFFFF;
  margin-top: 1rem;
  max-width: 17.5rem;


}



.low-input {
  outline: none;
  background: #FFFFFF;
  box-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(7, 4, 59, 0.157043);
  border-radius: 0.0919rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  width: 15rem;
  height: 2rem;
  border: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.75rem;
  color: #C0C0C0;
  padding-left: 0.5rem;


}


.low-but {

  background: #2F65F8;
  box-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(7, 4, 59, 0.157043);
  border-radius: 0.0919rem;
  width: 15rem;
  height: 2.0625rem;
  border: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 0.75rem;



  color: #FFFFFF;
}


.footer {
  background-color: #07043B;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 4.0625rem 0rem 2.5rem 0rem;
  row-gap: 2rem;

}

.contact-cont {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;


}

.fb-logo,
.insta-logo,
.twit-logo {
  width: 1.6875rem;
  height: 1.6875rem;
  fill: white;

}

.foot-info-first {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: flex-start;
  padding-left: 2.5rem;


}

.foot-info-second {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-left: 2.5rem;
}



.foot-soc-cont {
  display: flex;
  justify-content: center;
  column-gap: 0.6875rem;

}

.contact-cont span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  padding-left: 1.1875rem;

}


.foot-info-second span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #FFFFFF;
  text-align: start;

}


.foot-info-first span {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #FFFFFF;

}


.logo-foot {
  width: 6.5625rem;
  height: 1.875rem;
}


.foot-logo-cont {
  padding-left: 2.5rem;
}


.curve-desk {
  display: none;
}


.header-input-cont {
  display: flex;
  flex-direction: column;
}


.header-layout {
  align-self: center;
  align-items: baseline;
}

.low-main-but-cont {
  display: flex;
  flex-direction: column;
}

@media (max-width: 336px) {

  .header-but,
  .header-input,
  .low-but,
  .low-input,
  .main-svg,
  .main-card-cont,
  .nav,
  .logo,
  .nav-right-cont,
  .nav-text {
    width: 100%;
  }


}




@media (min-width: 768px) {

  .header-but {
    margin-top: 0.625rem;
  }


  .header-layout {
    align-self: flex-start;
  }


  .header-input {
    margin-bottom: 0;
  }

  .login-error {
    margin-top: 0.3125rem;

  }


  .bot-header {
    display: flex;
    flex-direction: row-reverse;



  }

  .img-header {
    width: 50%;

  }


  .header-input-cont {
    display: flex;
    flex-direction: column;


    align-items: center;
    width: 50%;
  }

  .curve-mob {
    display: none;
  }

  .curve-desk {
    display: block;
    width: 100%;
    height: 100%;

  }

  .main-main-cont {
    flex-direction: row;

  }


  .main-pic-cont {
    width: 50%;


  }





  .main-info-cont {
    width: 50%;
    align-items: flex-start;
  }


  .low-main {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;


  }

  .low-main-but-cont {
    display: flex;
    flex-direction: column;



  }


  .low-main-head-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;



  }

  .low-p {
    text-align: start;

  }


  .footer {
    flex-direction: row;
    column-gap: 3.125rem;


  }




  .nav-right-cont {

    column-gap: 3.5625rem;
  }

  .nav-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #07043B;


  }


  .header-input-cont {
    justify-content: center;
    align-items: flex-start;

  }

  .main-main-cont {
    flex-direction: row-reverse;
  }


  .info-p,
  .info-p2 {
    text-align: start;
    width: 100%;
    max-width: 26.3125rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .main-pic-cont {
    display: flex;
    justify-content: flex-end;

  }

  .low-but {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: center;
  }


  .main-card-cont {
    width: 22.25rem;
    height: 13.4375rem;
  }


  .card-p {

    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.4375rem;
    letter-spacing: 0.0313rem;

  }


  .name {

    font-weight: 700;
    font-size: 0.6875rem;
    line-height: 0.9375rem;

    letter-spacing: 0.0344rem;


  }

  .work {
    font-weight: 400;
    font-size: 0.5rem;
    line-height: 0.9375rem;

    letter-spacing: 0.025rem;



  }

  .avatar-img {
    width: 2rem;
    height: 2rem;
  }


  .main-info-cont {
    margin-top: 5.625rem;

  }


  .main-svg {
    width: 100%;
    height: 31.25rem;
  }

  .contact-cont div {
    display: flex;
    width: 13.75rem;



  }


  .header-p {
    width: 100%;
    max-width: 29.5625rem;
    text-align: start;

  }

  .header-h1 {
    text-align: start;
    width: 100%;
    max-width: 29.5625rem;

  }

  .header-svg {
    height: 100%;

    max-height: 31.25rem;
  }



  .low-h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
  }

  .low-p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;


    letter-spacing: 0.0313rem;




  }

  .info-h1 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }


  .low-input {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.875rem;

    color: #C0C0C0;

  }

  .layout {
    display: flex;
    flex-direction: row;
    column-gap: 3.125rem;
  }



}


@media (min-width: 380px) {
  .curve-mob {
    display: none;
  }

  .curve-desk {
    display: block;
    width: 100%;
    height: 100%;
  }
}





@media (min-width: 1440px) {

  .low-h1 {
    display: flex;
  }

  .logo {
    height: 3.0625rem;
    width: 10.8125rem;
  }


  .nav {
    padding: 4.0625rem 5rem 0rem 5rem;
  }


  .header-p {
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    /* or 141% */

    letter-spacing: 0.0332rem;


  }

  .header-h1 {

    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.75rem;
  }


  .header-input {
    width: 20rem;
    height: 2.8125rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1875rem;


    letter-spacing: 0.0292rem;

    color: #C2C2C2;
    margin-bottom: 0;



  }

  .header-but {

    height: 2.8125rem;
    width: 12.5rem;
    max-width: none;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1rem;



  }

  .header-h1 {
    width: 39.1875rem;
    height: 7.5rem;
    max-width: none;


  }


  .header-p {
    width: 36.5625rem;
    height: 4.5rem;

  }




  .info-h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.9375rem;
  }


  .info-p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
  }


  .info-p2 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
  }


  .green-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;

    color: #3DA08F;

  }


  .bot-header {
    padding-left: 5rem;
    padding-right: 5rem;
  }


  .green-line {
    width: 10.5625rem;
    margin-top: 0.3125rem;

  }

  .arrow {
    margin-top: 0.3125rem;
  }

  .qout-svg {
    height: 0.7188rem;
  }


  .low-input {

    width: 30rem;
    height: 3rem;




  }


  .low-but {
    width: 12.5rem;
    height: 3rem;
  }

  .low-p {

    width: 33.3125rem;
    max-width: none;
  }

  .main-main-cont {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .low-main {
    padding: 6.25rem 5rem 5.3125rem 5rem;
  }

  .footer {
    padding: 4.9375rem 5rem 5.3125rem 5rem;
    column-gap: 12.5rem;
    align-items: baseline;
    height: 24.4375rem;
  }

  .foot-logo-cont {
    padding-left: 0;
    height: 3.75rem;
  }


  .foot-info-first {
    padding-left: 0;
    justify-content: flex-end;
  }

  .foot-info-second {
    padding-left: 0;
    justify-content: center;
  }

  .logo-foot {
    height: 5rem;
    width: 8.75rem;


  }



  .foot-soc-cont {

    align-items: center;
    align-self: flex-start;

  }


  .layout {

    display: flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 12.5rem;
    align-self: flex-end;




  }


  .foot-svg-cont {

    height: 3.75rem;

  }

  .header-layout {

    display: flex;
    column-gap: 1rem;

  }



  .login-error-low {
    display: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.025rem;

    color: #FFFFFF;
    padding-bottom: 0rem;
    margin-bottom: 0.75rem;
  }



}




@media (min-width: 2500px) {



  .bot-header,
  nav,
  .main-main-cont,
  .curve-desk,
  .low-main,
  .footer {
    width: 100%;
    max-width: 125rem;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.header-but:hover {

  background-color: #6C9BFF;


}


.low-but:hover {

  background-color: #6C9BFF;

}


.login-error {
  display: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.025rem;


  color: #EF4877;


}



.header-input,
.low-input {
  color: black;

}





.login-error-low {
  display: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.025rem;

  color: #FFFFFF;
  padding-bottom: 0rem;
  margin-bottom: 0.75rem;
}